.card {
  &-detail {
    position: relative;

    &-image {
      img {
        width: 100%;
        height: 100%;
      }

      &-hidden {
        img {
          visibility: hidden;
        }
      }
    }

    &-logo {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  };

  &-header {
    font-weight: 100;

    &-title {
      text-align: right;
    }
  }
}

.hidden {
  visibility: hidden;
}